html,
body {
  background: #e6eef2;
  color: #00263a;
  font-family: "Roboto";
  font-size: 16px;
}

ol,
ul {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list-item > a {
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  color: #00263a;
  cursor: pointer;
  display: flex;
  max-height: 40px;
  padding: 10px 6px;
}

.list-item > a:hover {
  background: #e6eef2;
  text-decoration: none;
}

.list-item > a:focus {
  outline: none;
  border: 2px solid #00a9e0;
}

.list-item > a:active,
.list-item-selected > a:active {
  background: #00a9e0;
  color: #fff;
}

.list-item > a:active .bp3-tag {
  background: rgba(255, 255, 255, 0.2);
}

.list-item-selected:not(.list-item-checkbox) > a {
  background: #006ba6;
  color: #fff;
}

.list-item-selected:not(.list-item-checkbox) > a:hover {
  background: #005a8b;
}

.list-item > a > .bp3-icon-full-circle {
  height: 16px;
  margin-right: 5px;
  width: 16px;
}

.list-item > a > .bp3-icon-full-circle > svg {
  padding: 3px;
}

.list-item-text {
  line-height: 1rem;
  margin-left: 3px;
}

.list-item-tag {
  margin-left: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > section {
  flex-basis: 33%;
  padding: 8px;
}

.list-directional > li > a {
  justify-content: space-between;
}

.list-wrapper {
  background: #fff;
  border: 1px solid #d3e1e8;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 16px;
  padding: 0;
  max-width: 284px;
}

.list-title {
  border-bottom: 1px solid #d3e1e8;
  color: #446c82;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 16px 16px 7px 16px;
}

.list {
  padding: 8px;
}

.bp3-control {
  margin-bottom: 0;
}
